<% include ./partials/header %>
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      
      <a href="#home" class="navbar-brand text-dark"><i class="fab fa-pied-piper-pp" style="color: #648F2F;"></i> pied piper</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#technology" class="nav-link">Technology</a>
          </li>
          <li class="nav-item">
            <a href="#who" class="nav-link">Who We Are</a>
          </li>
          <li class="nav-item">
            <a href="#blog" class="nav-link">Blog</a>
          </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-success">Search</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </nav>
  <!-- End of Navbar -->
  

  
  
  <!-- Banner Section -->
  <section id="banner" class="bg-light text-center">
    
    <div class="video-wrapper">
      <video class="bg-video" src="http://www.piedpiper.com/app/themes/pied-piper/dist/images/video-bg.mp4" autoplay loop></video>
    </div>    
    
    <div class="container">
      
      <div class="row text-white mt-0 mt-lg-5">
        
        <div class="col-md-8 mx-auto">
          <i class="fab fa-pied-piper fa-10x mt-5 mb-2"></i>
          <h1 class="mb-4 company-name">pied piper</h1>
          <p class="lead mb-5">In a world where data stores are growing faster than ever and managing that storage is getting ever more complex, Space Saver is here to make everything smaller so you have more room for the things that really matter. </p>
          <a href="#" class="btn btn-success btn-lg mr-2" data-toggle="modal" data-target="#findOutMore">Find Out More</a>
          <a href="#" class="btn btn-light btn-lg" data-toggle="modal" data-target="#howWeDoIt">How We Do It</a>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Banner Section -->
  
  
  
  <!-- Skills Section -->
  <section id="skills" class="bg-light pb-5">
    <div class="container">
      
      <div class="row">
        
        <div class="col mb-3 text-center">
          <h2 class="mt-5">What is Pied Piper?</h2>
          <hr class="text-underline bg-success my-5 mx-auto">
        </div>
        
      </div>
      
      <div class="row">
        
        <div class="col-md-4 text-center my-5">
          <i class="fas fa-mobile-alt fa-5x"></i>
          <h2 class="my-4 text-success">All Devices</h2>
          <p class="text-muted my-4">Pied Piper's distributed file system synchronizes across all your devices to access files from anywhere</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
        
        <div class="col-md-4 text-center my-5">
          <i class="far fa-file-alt fa-5x"></i>
          <h2 class="my-4 text-success">All Files</h2>
          <p class="text-muted my-4">Utilizing our revolutionary middle-out compression, you can access all your files instantly from anywhere</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
        
        <div class="col-md-4 text-center my-5">
          <i class="fas fa-code fa-5x"></i>
          <h2 class="my-4 text-success">Updated Code</h2>
          <p class="text-muted my-4">We are in the process of deploying an integrated, multi-platform functionality of all applications of our algorithm</p>
          <a href="#" class="btn btn-outline-primary">Read More</a>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Skills Section -->
  
  
  
  <!-- Technology Section -->
  <section id="technology" class="py-5 text-light">
    <div class="container">
      
      <div class="row">
        
        <div class="col mb-3 text-center">
          <h2 class="mt-5">Technology</h2>
          <hr class="text-underline bg-success my-5 mx-auto">
            <p class="lead mb-5">
              Our revolutionary compression, mixed with industry standard encryption, 
              makes Space Saver the perfect tool to lower server costs as well as keep client 
              records safe. In addition to the limitless enterprise applications, Space Saver can 
              be used on any device, so even your personal memory-clogged phones, laptops or tablets 
              will be running like the day you got them.
            </p>
            <p class="lead mb-5">
              Using our revolutionary “middle-out” algorithm, we find long-range structure 
              in your files to create the most efficient encoding of your data. It's just as exciting as it sounds.
            </p>
            <p class="lead mb-5">
              Now you see it, now…you have a hard time seeing it, because it’s so much smaller! 
              Smaller files take up less space on your computer. Less space = more stuff. More stuff = better life!
            </p>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Technology Section -->
  
  
  
  <!-- Who we are Section -->
  <section id="who" class="py-5">
    <div class="container">
      
      <div class="row">
        
        <div class="col mb-3 text-center">
          <h2 class="mt-5">Who We Are</h2>
          <hr class="text-underline bg-success my-5 mx-auto">
        </div>  
        
      </div>
      
      <div class="row">
        
        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#richard">
            <img class="img-fluid mb-4" src="img/richard.png" alt="Picture of Richard Hendricks">
            <h4 class="text-success mb-0">Richard Hendricks</h4>
            <p class="text-dark">CEO</p>
          </a>
        </div>
        
        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#dinesh">
            <img class="img-fluid mb-4" src="img/dinesh.png" alt="Picture of Dinesh Chugtai">
            <h4 class="text-success mb-0">Dinesh Chugtai</h4>
            <p class="text-dark">Senior Programmer</p>
          </a>
        </div>
        
        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#jared">
            <img class="img-fluid mb-4" src="img/jared.png" alt="Picture of Jared Dunn">
            <h4 class="text-success mb-0">Jared (Donald) Dunn</h4>
            <p class="text-dark">Head of Business Development</p>
          </a>
        </div>

        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#gilfoyle">
            <img class="img-fluid mb-4" src="img/gilfoyle.png" alt="Picture of Gilfoyle">
            <h4 class="text-success mb-0">Bertram Gilfoyle</h4>
            <p class="text-dark">Senior Systems Architect</p>
          </a>
        </div>
        
        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#erlich">
            <img class="img-fluid mb-4" src="img/erlich.png" alt="Picture of Erlich">
            <h4 class="text-success mb-0">Erlich Bachman</h4>
            <p class="text-dark">Majority Investor</p>
          </a>
        </div>
        
        <div class="col-md-6 col-lg-4 text-center my-2 my-md-4">
          <a href="#" data-toggle="modal" data-target="#bighead">
            <img class="img-fluid mb-4" src="img/bighead.png" alt="Picture of Big Head">
            <h4 class="text-success mb-0">Nelson "Big Head" Bighetti</h4>
            <p class="text-dark">Majority Investor</p>
          </a>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Who we are Section -->
  
  
  <!-- Middle Out Section -->
  <section id="middleOut" class="text-center text-light d-flex">
    <div class="container my-auto">
      
      <div class="row">
        <div class="col">
          <h2 class="mb-0">Middle-out compression unleashed with machine learning.</h2>
        </div>
      </div>
      
    </div>
  </section>
  <!-- End of Middle Out Section -->
  
  
  
  <!-- Blog Section -->
  <section id="blog" class="bg-light py-5">
    <div class="container">
      
      <div class="row">
        
        <div class="col mb-3 text-center">
          <h2 class="mt-3">Blog</h2>
          <hr class="text-underline bg-success my-5 mx-auto">
        </div>  
        
      </div>
      
      <div class="row mb-5">
        
        <div class="col">
          <div id="demo" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner text-center">
              <div class="carousel-item active ">
                <h3>Pied Piper takes all your files and makes them smaller for when you need a “little help”!</h3>
                <p class="lead mt-3">It’s built on a universal compression engine that stacks on any file, data, video or image no matter what size.</p>
                <a href="#" class="btn btn-outline-success btn-lg mt-4" data-toggle="modal" data-target="#blogEntry">Read More</a>
              </div>
              <div class="carousel-item">
                <h3>How do we do it?</h3>
                <p class="lead mt-3">Using our revolutionary “middle-out” algorithm, we find long-range structure in your files to create the most efficient encoding of your data. It's just as exciting as it sounds.</p>
                <a href="#" class="btn btn-outline-success btn-lg mt-4" data-toggle="modal" data-target="#blogEntry">Read More</a>
              </div>
              <div class="carousel-item">
                <h3>Even if your file is already compressed,  we can make it smaller.</h3>
                <p class="lead mt-3">Now you see it, now…you have a hard time seeing it, because it’s so much smaller! Smaller files take up less space on your computer. Less space = more stuff. More stuff = better life!</p>
                <a href="#" class="btn btn-outline-success btn-lg mt-4" data-toggle="modal" data-target="#blogEntry">Read More</a>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Blog Section -->
  
  
  
  <!-- Image Divider -->
  <section id="imageDivider" class="py-5 text-center text-light">
    <div class="container">
      
      <div class="row">
        <div class="col my-5">
          <h2>Grand Prize Winners</h2>
          <h1 class="text-success">TechCrunch Disrupt SF</h1>
          <h2>D2F.1 = D2F.2, D2F.3 = D2F.4</h2>
        </div>
      </div>
      
    </div>
  </section>
  <!-- End of Image Divider -->
  
  
  
  
  <!-- Contact Section -->
  <section id="contact" class="py-5 text-center bg-light">
    <div class="container">
      
      <div class="row">
        
        <div class="col mb-3 text-center">
          <h2 class="mt-3">Contact Us</h2>
          <hr class="text-underline bg-success my-5 mx-auto">
        </div>  
        
      </div>
      
      <div class="row mb-5">
        
        <div class="col-md-6 mb-5 mb-md-0">
          <form>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-lg" name="message" id="message" rows="7" placeholder="Message"></textarea>
            </div>
            <button class="btn btn-success btn-lg btn-block">Send It!</button>
          </form>
        </div>
        
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38592.10272284279!2d-73.70949482832715!3d42.720986898563865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0fa74c108773%3A0x33117ef9f5a4723c!2sTroy%2C+NY!5e0!3m2!1sen!2sus!4v1519240896859" width="100%" height="425" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
      </div>
      
    </div>
  </section>
  <!-- End of Contact -->
  
  
  
  <!-- Footer -->
  <footer id="footer" class="bg-dark text-light py-5">
    <div class="container">
      
      <div class="row text-center">
        <div class="col-md-10 mx-auto">
          <ul class="list-inline mb-5">
            <a href="https://twitter.com/siliconHBO" class="text-light social" target="_blank">
              <li class="list-inline-item mx-2 twitter"><i class="fab fa-twitter-square fa-3x"></i></li>
            </a>
            <a href="https://www.facebook.com/SiliconHBO" class="text-light social" target="_blank">
              <li class="list-inline-item mx-2 facebook"><i class="fab fa-facebook-square fa-3x"></i></li>
            </a>
            <a href="https://www.instagram.com/siliconhbo" class="text-light social" target="_blank">
              <li class="list-inline-item mx-2 instagram"><i class="fab fa-instagram fa-3x"></i></li>
            </a>
          </ul>
          <p>
            The old Pied Piper “flute player” logo was referencing the fairy-tale character and in no way was meant to suggest a sexual act involving either the mouth or ear of the figure depicted. Apologies to any who were offended, and the logo has been changed
            to our current hat design by Mary Shibley that's clean, elegant and not with out some danger.
          </p>
          <p class="small">&copy; 2018 - Chris Davis</p>
        </div>
      </div>
      
    </div>
  </section>
  <!-- End of Footer -->
  
  
  
  
  <!-- Modals -->
  
  <!-- Richard -->
  <div class="modal fade text-center" id="richard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/richard.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Richard Hendricks</h4>
                <p class="text-dark">CEO</p>
                <hr>
                <p class="text-muted">
                  Richard is the Founder of Pied Piper, and after a brief hiatus, is once again CEO.
                </p>
                <p class="text-muted">
                  While Richard has worn a few different hats at Pied Piper, his compression algorithm — an algorithm some have called a game-changing technology worth seeing through to its greatest potential to impact the world — has always been his guiding light. He
                  is now focusing on a new project. He still can’t go into specifics at this time, but let’s just say it’s going to be pretty big, and not crazy.
                </p>
                <p class="text-muted">Richard first moved to Silicon Valley to study computer science at Stanford. He left four credits shy of graduation to concentrate on his true passion: compressing data. He created Pied Piper to pursue that passion and bring his middle-out
                  algorithm to all. He and his team launched the Pied Piper platform earlier this year, which didn’t quite catch on with the public, but that was no reflection on the tech. The tech remains revolutionary.
                </p>
                <p class="text-muted">
                  In his spare time, Richard meditates on the value of innovation over wealth and popularity. He also enjoys amateur astronomy, and taking brief dips in the pool.
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End of Richard -->
  
  
  <!-- Dinesh -->
  <div class="modal fade text-center" id="dinesh" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/dinesh.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Dinesh Chugtai</h4>
                <p class="text-dark">Senior Programmer</p>
                <hr>
                <p class="text-muted">
                  Over his career as a programmer, Dinesh has brought his talents to many promising startups. He briefly served as CEO of PiperChat, Pied Piper’s video chat offshoot. Following Hooli’s acquisition of PiperChat, Dinesh gracefully parted ways with the company
                  and thinks it’s best not to talk about it too much anymore. Dinesh has also contributed to a pioneering image classification project at Periscope, scraping the internet of inappropriate content. He doesn’t like to talk about that too much,
                  either.
                </p>
                <p class="text-muted">
                  Prior to working in Silicon Valley, Dinesh received degrees in information theory and computer science from Yale, Caltech, and Oxford, and published several books on advanced Java tools. (Signed copies available upon request.) When he's not coding or
                  kicking it with his boys, Dinesh enjoys online solitaire and the occasional karaoke session.
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Dinesh -->
 
 
  <!-- Jared -->
  <div class="modal fade text-center" id="jared" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/jared.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Jared (Donald) Dunn</h4>
                <p class="text-dark">Head of Business Development</p>
                <hr>
                <p class="text-muted">
                  Jared’s early life is best passed over, and parts of it he cannot legally discuss because of non-disclosure clauses in settlements, but he managed to rise above it thanks a series of largely well-meaning foster parents and went on to receive a B.A. from
                  Vassar College in Economics. During those happiest of years, he sang second alto with the Joyce Carol Notes A Capella Confrontation and was both coxswain for Women’s Heavyweight Crew and co-founder of Take Back Take Back the Night. After
                  college, he worked for Google, Congresswoman Nancy Pelosi and Hooli, but now he is a Pied Piper man all the way.
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Jared -->
  
  
  <!-- Gilfoyle -->
  <div class="modal fade text-center" id="gilfoyle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/gilfoyle.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Bertram Gilfoyle</h4>
                <p class="text-dark">Senior Systems Architect</p>
                <hr>
                <p class="text-muted">
                  McGill. Mit. EFF. 666Chan.
                </p>
                <p class="text-muted">
                  I put the "security" in network security. Who watches the watchmen? That would be me, mother**cker.
                </p>
                <p class="text-muted">
                  In 2011 Gilfoyle replaced the homepage of the Federal Reserve with the cover of Neil Gaiman’s <em>Neverwhere</em> (paperback edition). It took them a week to get it down. You’re welcome. He has played drums in various Toronto-area first-wave-DC-influenced
                  hardcore, thrashcore, hatecore, corecore and corehard outfits under the name Strychnine McTwat. In fact, he has been asked to leave some of the most influential bands in the Toronto scene, including Piss Nazis, the Scumtones and Das Abortions.
                </p>
                <p class="text-muted">
                  <em>Non serviam.</em>
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Gilfoyle -->
  
  
  <!-- Erlich -->
  <div class="modal fade text-center" id="erlich" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/erlich.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Erlich Bachman</h4>
                <p class="text-dark">Majority Investor</p>
                <hr>
                <p class="text-muted">
                  Having conquered the worlds of app incubation (Palo Alto's Hacker Hostel), casual same-sex dating (Grindr), tech journalism (Code/Rag), and first but not least social media aggregation and management software for commercial airlines (Aviato), Erlich has
                  purchased a controlling stake in the ground-breaking compression company Pied Piper, which he himself incubated like the tiny, featherless, hydrocephalic preemie of a chick that it was up through its current pivot, to what will no doubt be a powerhouse
                  in the video-chat field. To the Skypes of the world say I, "Look on my works, ye Mighty, and despair!"
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Erlich -->
  
  
  <!-- Bighead -->
  <div class="modal fade text-center" id="bighead" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <img class="img-fluid mb-4" src="img/bighead.png" alt="Picture of Richard Hendricks">
                <h4 class="text-success mb-0">Nelson "Big Head" Bighetti</h4>
                <p class="text-dark">Majority Investor</p>
                <hr>
                <p class="text-muted">
                  Nelson was sort of one of the founders of Pied Piper, or was at least in the same house when it got founded. In the past, he rose from doing data entry at Hooli to being a SVP there, and eventually became Head Dreamer of HooliXYZ. He is currently a co-principal
                  at Bachmanity Enterprises, which is now the principal owner of Pied Piper. Is that weird, using the word “principal” like that twice in the same sentence, but in kind of two different senses? It feels weird. Anyway, Big Head is just three credits shy
                  of an undergraduate degree in computer science from the University of Oklahoma. He used to own a boat. He likes soda and cannons.
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Bighead -->
  
  
  <!-- Find Out More -->
  <div class="modal fade text-center" id="findOutMore" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <i class="fab fa-pied-piper-pp fa-10x mb-4 text-dark"></i>
                <p class="text-muted">
                  Our revolutionary compression, mixed with industry standard encryption, makes Space Saver the perfect tool to lower server costs as well as keep client records safe. In addition to the limitless enterprise applications, Space Saver can be used on any
                  device, so even your personal memory-clogged phones, laptops or tablets will be running like the day you got them.
                </p>
                <p class="text-muted">
                  So go ahead, bring on those extra clients, download that additional step counting app, take that video of your friend Gloria dancing to her favorite Andrews Sisters tune – Space Saver is here to save the day.
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of Find Out More -->
  
  
  
  <!-- How we do it -->
  <div class="modal fade text-center" id="howWeDoIt" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <i class="fas fa-cogs fa-10x mb-4 text-dark"></i>
                <p class="text-muted">
                  Pied Piper takes all your files and makes them smaller for when you need a “little help”! It’s built on a universal compression engine that stacks on any file, data, video or image no matter what size.
                </p>
                <p class="text-muted">
                  Using our revolutionary “middle-out” algorithm, we find long-range structure in your files to create the most efficient encoding of your data. It's just as exciting as it sounds.
                </p>
                <p class="text-muted">
                  Even if your file is already compressed, we can make it smaller. Now you see it, now…you have a hard time seeing it, because it’s so much smaller! Smaller files take up less space on your computer. Less space = more stuff. More stuff = better life!
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- End of How we do it -->
  
  
  <!-- Blog -->
  <div class="modal fade text-center" id="blogEntry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
  
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <h4 class="text-success mb-0">A look to the Future</h4>
                <p class="text-dark">- by Jared Dunn</p>
                <img class="img-fluid mb-4" src="img/jaredBlog.png" alt="Picture of Richard Hendricks">
                <p class="text-muted">
                  It’s incredible how much life can be compressed into just a few dozen hours, isn’t it? Since I last posted, I have resigned, been fired from, and successfully rejoined Pied Piper. And while this whirlwind meant I used up my “tears budget” a bit earlier
                  than usual this month, it also reminded me of how lucky I am to work for Richard Hendricks, a true technological visionary. In that forward-looking spirit, I thought I’d share my letter to my 40-year-old self. I revise this missive to the future each
                  time I begin a new professional venture, but with any luck, I will have this job — and this letter — until the day I die. Enjoy, dear readers, and take care!
                </p>
                <p class="text-muted">
                  Lordy, lordy, look who’s forty!
                </p>
                <p class="text-muted">
                  Who would have thought Donald Dunn would make it to forty-years-old? After swimming through the piranha-infested waters of the Amazon, running with the bulls in Pamplona, finding love in Paris — and losing it in Malta —you’ve seen big things, Donald.
                </p>
                <p class="text-muted">
                  Your life has been a checkered quilt, and some of its patches have been rougher than others. But whether a coarse swatch best forgotten or a velvet one to be cherished for all time, they have stitched together the man you’ve become. A man who sees adversity
                  as opportunity, melancholy as but a brief minor key in life’s longer song. Not to mention, you threw one hell of a fortieth birthday bash on that yacht. Good on you, Donald!
                </p>
                <p class="text-muted">
                  You can be hard on yourself, but it is the lofty bar you’ve set that makes you such an exemplary friend, spouse, and father. To think, you were worried about raising one little scamp, and now triplets! It seems the chemical traces in that shipping container
                  all those years ago didn’t cause lasting medical damage, after all. Four is a nice round number for a brood, too, and you should be glad that you went with the maroon minivan. It was the right choice.
                </p>
                <p class="text-muted">
                  Donald, you’ve kept so many of the promises you made to yourself. To give all of your heart, mind, and physical well being to each and every company to which you’ve pledged your faith. To treat each friendship like a hummingbird: vibrant, yet delicate.
                  And, of course, to always wear your retainer at night to protect against stress-related grinding. Your teeth are the sparkling Christmas lights for your face, Donald, and they must shine year-round!
                </p>
                <p class="text-muted">
                  You are a star shooting across the Great Plains, a manta ray swimming in the sundrenched, shallow waters of the Caribbean, a single hair that raises on the back of a child’s neck after he hears his first violin solo. Never forget that you are truly something,
                  Donald. You are tougher than anyone I have ever met, but also a gentle soul that never ceases to give first, and ask questions later.
                </p>
                <p class="text-muted">
                  Looking back on your life, you wish you could tell your younger self to relax, and sure, have that second glass of sparkling cider. Your soul has always been older than your body, and one day they’ll have a name for that condition. In the meantime, savor
                  your youth and this, your fortieth birthday (give or take, depending on which of those certificates was actually legitimate). Next up: nifty fifty!
                </p>
                <p class="text-muted">
                  You’re the best, Donald. Richard is proud of you. Love always, Jared
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End of Blog -->
  
  <!-- End of Modals -->
  
<% include ./partials/footer %>
    
